
body {
    background-color: #f0f0f0 !important;
    color:black !important;
    font-family: Arial, sans-serif;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 20px;
    display:inline-block;
}

.contenedor {
    align-items: center;
    justify-content: center;
    background-color: #fff !important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    width: 300px;
}

.tusAtajos .grid-container1{
    font-size:x-small;
}

.tusAtajos .grid-container2{
    font-size:x-small;
}
.grid-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    width: 300px; 
  
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    width: 300px; 
   
}

.grid-item{
    display: flex;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border-width: 2px;
    border-radius: 30%;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    box-shadow: 0 0 10px rgba( 3, 3, 0.1);
}

.grid-item:hover{
    background-color: darkgrey;
    color:black !important;
    cursor:pointer;
     text-decoration: none;
}
.tusAtajos a{
    color:gray !important;
    text-decoration: none;
}

/*breackpoints*/


@media (min-width: 768px) { 
body{
    display:inline-block;
}
    .navbar{
        align-items: center;
        justify-content: center;
    }

    .contenedor{
         align-items: center;
        justify-content: center;
        width: 700px;
    }
    .tusAtajos .grid-container1{
        align-items: center;
        justify-content: center;
        font-size:small;
        gap: 20px; 
        width: 350px; 
        padding: 10px;
    }
    
    .tusAtajos .grid-container2{
        align-items: center;
        justify-content: center;
        font-size:small;
        gap: 20px; 
        width: 350px; 
        padding: 10px;
    }
    .grid-item{
        width:70px;
        height: 70px;
 }
}